main/Schema/opencover.profiler.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:opencover.profiler" elementFormDefault="qualified" targetNamespace="urn:opencover.profiler" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Started">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Stopping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StoppingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackAssembly">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="assemblyName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackAssemblyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrackAssemblyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSequencePoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="functionToken" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSequencePointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSequencePointsResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sequencePoints" nillable="true" type="tns:ArrayOfInstrumentPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfInstrumentPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InstrumentPoint" nillable="true" type="tns:InstrumentPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstrumentPoint" nillable="true" type="tns:ArrayOfInstrumentPoint" />
  <xs:complexType name="InstrumentPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="Offset" type="xs:int" />
      <xs:element minOccurs="0" name="Ordinal" type="xs:int" />
      <xs:element minOccurs="0" name="UniqueId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstrumentPoint" nillable="true" type="tns:InstrumentPoint" />
</xs:schema>