main/Schema/opencover.profiler.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn:opencover.profiler" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:opencover.profiler" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:opencover.profiler/Imports">
      <xsd:import schemaLocation="" namespace="urn:opencover.profiler" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProfilerCommunication_Start_InputMessage">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="IProfilerCommunication_Start_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartResponse" />
  </wsdl:message>
  <wsdl:message name="IProfilerCommunication_Stop_InputMessage">
    <wsdl:part name="parameters" element="tns:Stop" />
  </wsdl:message>
  <wsdl:message name="IProfilerCommunication_Stop_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopResponse" />
  </wsdl:message>
  <wsdl:portType name="IProfilerCommunication">
    <wsdl:operation name="Start">
      <wsdl:input wsaw:Action="urn:opencover.profiler/IProfilerCommunication/Start" message="tns:IProfilerCommunication_Start_InputMessage" />
      <wsdl:output wsaw:Action="urn:opencover.profiler/IProfilerCommunication/StartResponse" message="tns:IProfilerCommunication_Start_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <wsdl:input wsaw:Action="urn:opencover.profiler/IProfilerCommunication/Stop" message="tns:IProfilerCommunication_Stop_InputMessage" />
      <wsdl:output wsaw:Action="urn:opencover.profiler/IProfilerCommunication/StopResponse" message="tns:IProfilerCommunication_Stop_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>